<header>
	<div class="row space-between">
		<div id="logo" class="cols all-center">
			<img src="/src/imgs/dinote-logo.png" alt="Logo Dinotes" />
			<span>Dinotes</span>
		</div>
		<div id="account" class="cols">
			<a href="#">
				<div class="circle all-center">
					<i class="fa-solid fa-user"></i>
				</div>
			</a>
		</div>
	</div>
</header>
