<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Simple app note - Dinotes</title>
		<link rel="stylesheet" href="/src/css/main.css" />
	</head>
	<body>
		<%- include('header'); -%>

		<div id="app">
			<section id="app-notes">
				<div id="bg-user-search">
					<div id="user-search">
						<input
							type="text"
							id="search"
							placeholder="Search your note here..." />
						<button id="button-search" class="all-center">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>
				<div id="user-notes"></div>
				<div id="add-note">
					<div class="circle all-center">
						<i class="fa-solid fa-plus"></i>
					</div>
				</div>
			</section>
			<section id="no-selected-note">
				<div class="row all-center">
					<div class="text-center">
						<div class="circle all-center">
							<i class="fa-solid fa-plus"></i>
						</div>
						<span
							>Select a note or click here for create new
							note.</span
						>
					</div>
				</div>
			</section>
			<section id="single-note" class="hidden">
				<div id="actions" class="test juan clasesita pedrito">
					<div id="back-notes-list">
						<i class="fa-solid fa-arrow-left"></i>
					</div>
					<div id="save-note">
						<i class="fa-solid fa-check"></i>
					</div>
				</div>
				<div class="content">
					<h1
						id="note-title"
						contenteditable="true"
						role="tex"
						placeholder="Title of your note."></h1>
					<div
						id="note-content"
						contenteditable="true"
						role="textbox"
						placeholder="Start writing your idea here..."></div>
				</div>
			</section>
		</div>

		<%- include('footer'); -%>

		<script src="/src/js/note-interaction.js"></script>

		<script
			src="https://kit.fontawesome.com/1155cd00ae.js"
			crossorigin="anonymous"></script>
	</body>
</html>
