<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Simple app note - Dinotes</title>
		<link rel="stylesheet" href="/src/css/main.css" />
	</head>
	<body class="bg-d_darkblue">
		<h1 class="text-blue-300">Hola <%= name %></h1>
		<h1 class="text-3xl fontl-bod underline text-d_beige">Hello world!</h1>
		<p class="text-d_beige">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
			corrupti vel adipisci fugit qui, reprehenderit commodi. Sequi
			adipisci explicabo ex architecto voluptas nam, minus ullam ipsam
			iste alias dolor ducimus.
		</p>
	</body>
</html>
