<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Simple app note - Dinotes</title>
		<link rel="stylesheet" href="/src/css/main.css" />
	</head>
	<body>
		<%- include('header'); -%>

		<div id="app">
			<div id="app-notes">
				<div id="user-search">
					<input
						type="text"
						id="search"
						placeholder="Search your note here..." />
					<button id="button-search" class="all-center">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
				<div id="user-notes">
					<!-- Todo: Delete .note when dinamycs notes JS.-->
					<div class="notes">
						<div class="content">
							<h3 class="title">
								I am the title of a 2-line note enough long
							</h3>
							<div class="desc">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Aperiam facere earum natus
								maiores, in autem. Mollitia, optio? Quas
								similique id exercitationem cupiditate?
								Asperiores repellat eos perferendis illum?
								Reiciendis, cumque minima?
							</div>
							<div class="info">
								<div class="actions-notes">
									<div class="delete-notes">
										<i class="fa-solid fa-trash"></i>
									</div>
								</div>
								<div class="date">
									last change in
									<span class="date-dinamyc">29-09-2022</span>
								</div>
							</div>
						</div>
					</div>
					<div class="notes">
						<div class="content">
							<h3 class="title">
								I am the title of a 2-line note enough long
							</h3>
							<div class="desc">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Aperiam facere earum natus
								maiores, in autem. Mollitia, optio? Quas
								similique id exercitationem cupiditate?
								Asperiores repellat eos perferendis illum?
								Reiciendis, cumque minima?
							</div>
							<div class="info">
								<div class="actions-notes">
									<div class="delete-notes">
										<i class="fa-solid fa-trash"></i>
									</div>
								</div>
								<div class="date">
									last change in
									<span class="date-dinamyc">29-09-2022</span>
								</div>
							</div>
						</div>
					</div>
					<div class="notes">
						<div class="content">
							<h3 class="title">
								I am the title of a 2-line note enough long
							</h3>
							<div class="desc">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Aperiam facere earum natus
								maiores, in autem. Mollitia, optio? Quas
								similique id exercitationem cupiditate?
								Asperiores repellat eos perferendis illum?
								Reiciendis, cumque minima?
							</div>
							<div class="info">
								<div class="actions-notes">
									<div class="delete-notes">
										<i class="fa-solid fa-trash"></i>
									</div>
								</div>
								<div class="date">
									last change in
									<span class="date-dinamyc">29-09-2022</span>
								</div>
							</div>
						</div>
					</div>
					<div class="notes">
						<div class="content">
							<h3 class="title">
								I am the title of a 2-line note enough long
							</h3>
							<div class="desc">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Aperiam facere earum natus
								maiores, in autem. Mollitia, optio? Quas
								similique id exercitationem cupiditate?
								Asperiores repellat eos perferendis illum?
								Reiciendis, cumque minima?
							</div>
							<div class="info">
								<div class="actions-notes">
									<div class="delete-notes">
										<i class="fa-solid fa-trash"></i>
									</div>
								</div>
								<div class="date">
									last change in
									<span class="date-dinamyc">29-09-2022</span>
								</div>
							</div>
						</div>
					</div>
					<div class="notes">
						<div class="content">
							<h3 class="title">
								I am the title of a 2-line note enough long
							</h3>
							<div class="desc">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Aperiam facere earum natus
								maiores, in autem. Mollitia, optio? Quas
								similique id exercitationem cupiditate?
								Asperiores repellat eos perferendis illum?
								Reiciendis, cumque minima?
							</div>
							<div class="info">
								<div class="actions-notes">
									<div class="delete-notes">
										<i class="fa-solid fa-trash"></i>
									</div>
								</div>
								<div class="date">
									last change in
									<span class="date-dinamyc">29-09-2022</span>
								</div>
							</div>
						</div>
					</div>
					<div class="notes">
						<div class="content">
							<h3 class="title">
								I am the title of a 2-line note enough long
							</h3>
							<div class="desc">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Aperiam facere earum natus
								maiores, in autem. Mollitia, optio? Quas
								similique id exercitationem cupiditate?
								Asperiores repellat eos perferendis illum?
								Reiciendis, cumque minima?
							</div>
							<div class="info">
								<div class="actions-notes">
									<div class="delete-notes">
										<i class="fa-solid fa-trash"></i>
									</div>
								</div>
								<div class="date">
									last change in
									<span class="date-dinamyc">29-09-2022</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="add-note">
					<div class="circle all-center">
						<i class="fa-solid fa-plus"></i>
					</div>
				</div>
			</div>
			<div id="single-note">
				<div id="actions">
					<div id="back-notes-list">
						<i class="fa-solid fa-arrow-left"></i>
					</div>
					<div id="save-note">
						<i class="fa-solid fa-check"></i>
					</div>
				</div>
				<div class="content">
					<h1 id="note-title">
						I am the title of a line note enough long
					</h1>
					<div id="note-content">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Aperiam facere earum natus maiores, in autem.
							Mollitia, optio? Quas similique id exercitationem
							cupiditate? Asperiores repellat eos perferendis
							illum? Reiciendis, cumque minima?
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Ab cupiditate nam quasi cumque deserunt fugiat
							assumenda consectetur quaerat eos amet qui
							laboriosam, recusandae sit magni odit nulla dicta
							aliquid repellat. Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Exercitationem fugiat
							ex, similique natus libero delectus nostrum animi,
							beatae sit temporibus nisi commodi nihil, veniam
							culpa quod deleniti placeat excepturi impedit?
						</p>

						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Maiores facilis sunt laboriosam aspernatur
							quidem laborum dolor asperiores rerum, aliquid
							facere. Magni repellendus dolore hic obcaecati
							ducimus aliquid doloribus optio ad.
						</p>
					</div>
				</div>
			</div>
		</div>

		<%- include('footer'); -%>

		<script
			src="https://kit.fontawesome.com/1155cd00ae.js"
			crossorigin="anonymous"></script>
	</body>
</html>
