/* imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* variables definition */
:root {
	--main-darkblue: #16213e;
	--main-blue: #0f3460;
	--main-purple: #533483;
	--main-pink: #e94560;
	--main-yellow: #f4e180;
}

/* global CSS*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', arial, helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: var(--main-darkblue);
	color: #fff;
}

a {
	color: var(--main-purple);
}

p,
span {
	font-size: 1rem;
	line-height: 1.1rem;
}

/* flexbox*/
.row {
	display: flex;
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.all-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Header */
header {
	background-color: var(--main-blue);
	padding: 0.6rem 1.2rem;
}

#logo img {
	width: auto;
	height: 4rem;
}

#logo span {
	margin: 0 0 0 0.6rem;
	font-size: 2.2rem;
	font-weight: 700;
	color: var(--main-yellow);
}

header .circle {
	width: 3.8rem;
	height: 3.8rem;
	border: 3px solid var(--main-darkblue);
	background-color: var(--main-yellow);
	color: var(--main-darkblue);
	border-radius: 50%;
	font-size: 2rem;
}

header .circle:hover {
	background-color: var(--main-pink);
	color: var(--main-darkblue);
}

/* App */

#app {
	max-width: 100%;
	overflow: hidden;
}

#app-notes {
	padding: 1.2rem;
}

#user-search {
	flex: 1;
	display: flex;
	background-color: #fff;
	padding: 0.4rem 0.4rem;
	border-radius: 3rem;
	width: 100%;
}

#user-search input {
	display: flex;
	flex: 1;
	color: var(--main-darkblue);
	border: 0;
	font-size: 1rem;
	padding: 0.6rem 0.4rem 0.6rem 1rem;
	border-radius: 3rem;
}

#user-search input:focus-visible {
	outline: none;
}

#button-search {
	display: flex;
	align-items: center;
	background-color: var(--main-pink);
	color: var(--main-darkblue);
	border: 3px solid var(--main-darkblue);
	font-size: 1.2rem;
	padding: 0.6rem;
	border-radius: 50%;
	right: 1rem;
	margin-left: 3px;
	transition: all 0.5s;
}

#button-search:hover {
	background-color: var(--main-purple);
	color: #fff;
}

#user-notes {
	margin-top: 1rem;
}

#user-notes .note {
	background-color: var(--main-blue);
	padding: 2rem 1.6rem 1rem;
	margin-bottom: 1.4rem;
	border-radius: 0.3rem;
}

#user-notes .note .title {
	margin-bottom: 1.4rem;
}

#user-notes .note .date {
	margin-top: 1.4rem;
	padding-top: 0.8rem;
	border-top: 1px solid #fff;
	font-size: 0.7rem;
	text-align: right;
	opacity: 0.3;
}

#user-notes .note .date .date-dinamyc {
	font-size: 0.7rem;
}

#add-note {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 99;
}

#add-note .circle {
	width: 3.8rem;
	height: 3.8rem;
	border: 3px solid var(--main-darkblue);
	background-color: var(--main-yellow);
	color: var(--main-darkblue);
	border-radius: 50%;
	font-size: 2rem;
}

#add-note .circle:hover {
	background-color: var(--main-pink);
	color: var(--main-darkblue);
}
